{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
    {% if user.is_authenticated %}

        {% if perms.tracker.change_project %}
            {% for i in project.userproject_users.all %}
                {% if i.user.username == user.username %}
                    <a href="{% url 'project_update' project.pk %}">Update Project</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if perms.tracker.delete_project %}
            {% for i in project.userproject_users.all %}
                {% if i.user.username == user.username %}
                    <a href="{% url 'project_delete' project.pk %}">Delete Project</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if perms.tracker.add_issue %}
            {% for i in project.userproject_users.all %}
                {% if i.user.username == user.username %}
                    <a href="{% url 'issue_add' project.pk %}">Add Tracker</a>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if perms.tracker.add_userproject %}
            {% for i in project.userproject_users.all %}
                {% if i.user.username == user.username %}
                    <a href="{% url 'project_add_user' project.pk %}">Add/Delete User</a>
                {% endif %}
            {% endfor %}
        {% endif %}

    {% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <h1>
        {{ project.title }}
        <p>{{ project.description }}</p>
        <p>Start: {{ project.start_date }}</p>
        {% if project.end_date %}
        <p>End: {{ project.end_date }}</p>
        {% else %}
        <p>End: Not Indicated</p>
        {% endif %}
        <p> Users of project:
            <ul style="font-size:15px;">
                {% for user in project.userproject_users.all %}
                <li>
                    {{ user.user.username }}
                </li>
                {% endfor %}
            </ul>
        </p>
    </h1>
    {% for issue in project.issue.all %}
    <div class="notes">
        <h2>{{ issue.summary }}</h2>
        <p>Description: {{ issue.description }}</p>
        <p>
            <a href="{% url 'issue_detail' issue.pk %}" class="btn btn-primary read_more">Read More</a>
        </p>
    </div>
    {% empty %}
        <h1><p>Issues not found</p></h1>
    {% endfor %}
    <p></p>
    <p></p>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
</div>
{% endblock %}
