{% extends 'base.html' %}
{% block title %}Tracker confirm delete{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Are you sure you want to delete the tracker?</h1>
        <p>Summary: {{ issue.summary }}</p>
        <p>Description: {{ issue.description }}</p>
        <form action="{% url 'issue_confirm_delete' issue.pk %}" method="post">
            {% include 'partial/issue_form.html' with button_text='Delete' button_class="btn btn-danger" %}
        </form>
        <form action="{% url 'issue_detail' issue.pk %}" method="get">
            <button type="submit" class="btn btn-secondary">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}