{% extends 'base.html' %}
{% block title %}Tracker Update{% endblock %}
{% block content %}

<div class="container">
    <div class="form">
        <h1>Tracker Issue</h1>
        <form action="{% url 'issue_update' issue.pk %}" method="post">
            {% include 'partial/issue_form.html' with button_text='Update' button_class="btn btn-success" %}
        </form>
        <form action="{% url 'issue_detail' issue.pk %}" method="get">
            <button type="submit" class="btn btn-secondary">Cancel</button>
        </form>
    </div>
</div>
{% endblock %}