{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block menu %}
<a href="{% url 'issue_add' %}">Add Tracker</a>
{% endblock %}
{% block content %}
<div class="row">
    <h1>Issue Tracker</h1>
    {% include 'partial/search.html' %}
    {% for issue in issues %}
    <div class="notes">
        <h2>{{ issue.summary }}</h2>
        <p>Tracker status: {{ issue.status }}</p>
        <p>Tracker type: {{ issue.get_types }}</p>
        <p>
            <a href="{% url 'issue_detail' issue.pk %}" class="btn btn-primary read_more">Read More</a>
        </p>
    </div>
    {% empty %}
        <h1><p>Issues not found</p></h1>
    {% endfor %}
    <p></p>
    <p></p>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
</div>
{% endblock %}
