{% extends 'base.html' %}
{% block title %}Product{% endblock %}
{% block menu %}
<a href="{% url 'issue_add' %}">Add Issue</a>
<a href="{% url 'issue_update' issue.pk %}">Update Issue</a>
<a href="{% url 'issue_delete' issue.pk %}">Delete Issue</a>

{% endblock %}
{% block content %}

<div class="container">
    <div class="details">
        <div class="details-content">
            <h3>{{ issue.summary }}</h3>
            <h4>{{ issue.description }}</h4>
            <h4>{{ issue.status }}</h4>
            <h5><span>{{ issue.type }}$</span></h5>
        </div>
    </div>
</div>
{% endblock %}