{% extends 'base.html' %}
{% block title %}Tracker{% endblock %}
{% block menu %}
<a href="{% url 'issue_add' %}">Add Tracker</a>
<a href="{% url 'issue_update' issue.pk %}">Update Tracker</a>
<a href="{% url 'issue_delete' issue.pk %}">Delete Tracker</a>

{% endblock %}
{% block content %}

<div class="container">
    <div class="form details">
        <div class="headers">
            <p>Tracker Name:</p>
            <p>Tracker Status:</p>
            <p>Tracker Type:</p>
            <p>Description:</p>
            <p style="font-size: 15px; color:grey"><i>added {{ issue.created_at }}</i></p>
        </div>
        <div>
            <p>{{ issue.summary }}</p>
            <p>{{ issue.status }}</p>
            <p>{{ issue.type }}</p>
            <p>{{ issue.description }}</p>
        </div>
    </div>
</div>
{% endblock %}